body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2D3250;
    color:white;
    scroll-behavior: smooth;
}
header {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
.header-nav{
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: #2D3250;
}
nav {
    background: #676f9d;
    padding: 10px;
    text-align: center;

}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;

}
nav a:hover {
    background: #777;
}
nav a:active {
            animation: glow 2s ease-out;
        }
@keyframes glow {
            0% { background-color: #ffcc00; } /* Жёлтый цвет при клике */
            100% { background-color: #444; } /* Возвращается в серый */
        }
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #424769;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    padding: 10px;
}
h2 {
    color: #F9b17a;
    scroll-margin-top:200px;
}
p{
    width: 50%;
    background: #676f9d;
    padding: 10px;
    border-radius: 10px;
    margin:0 auto;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-container{
    text-align: center;
    margin-bottom: 20px;
}
.content img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out; 
}
 
 .content img:hover {
    transform: scale(5)
}
.content.header img {
    margin-left: 10px;
}



.header{
    display:flex;
    align-items: center;
    justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
    grid-template-rows: repeat(2, 1fr); /* 2 строки */
    gap: 10px; /* Отступы между фото */
    max-width: 420px; /* Чуть шире, чтобы учесть gap */
    margin: auto; /* Центрирование */
    transform: translateX(35px); /* Отодвинуть на 35px вправо */
    height: 300px; /* Общая высота */
    position: relative;
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.grid-container:hover img {
    opacity: 0.3; /* Затемняет все */
    transform: scale(0.9);
}

.grid-container img:hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    grid-column: unset; /* Убираем grid-контроль */
    grid-row: unset;
    opacity: 1;
    transform: scale(1);
    z-index: 10;
    border-radius: 15px;
}


